.users {
    padding-top: 0%;
    padding-bottom: 4%;
    /* padding-left: 2%; */
    padding-right: 0%;
    overflow: auto;
    flex: 0.3;
}

.usersHeader {
    position: absolute;
    color: #2979ff;
    background-color: white;
    text-align: center;
    width: 100%;
}

.usersName {
    padding-left: 20%;
}
