html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    background-color: #1a1a1d;
    border-radius: 10px;
    /* height: 50vh; */
    /* width: 50vw; */
}

.joinInnerContainer {
    /* width: 20%; */
}

.joinInput {
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
}

.headingTitle {
    display: flex;
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    /* color: #fff !important; */
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979ff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }
}

button:focus {
    outline: 0;
}
