.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1d;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
    height: 60%;
    width: 50%;
}

.subContainer {
    display: flex;
    overflow: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }

    .Container {
        width: 95%;
        height: 95%;
    }
}

@media (min-width: 481px) and (max-width: 1000px) {
    .Container {
        width: 80%;
    }
}

@media (min-width: 1001px) {
    .Container {
        width: 60%;
    }
}
